*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Inter,sans-serif;
background:#050505;
color:white;
overflow-x:hidden;
}

.background{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background-image:url("background.png");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
z-index:-2;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;
}

header h1{
font-family:Cinzel,serif;
font-size:34px;
color:#33ff99;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
transition:.3s;
}

nav a:hover{
color:#33ff99;
}

.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h2{
font-size:70px;
font-family:Cinzel,serif;
margin-bottom:20px;
}

.hero p{
font-size:22px;
opacity:.8;
margin-bottom:35px;
}

.btn{
display:inline-block;
padding:15px 35px;
margin:10px;
border-radius:50px;
text-decoration:none;
background:#19d37e;
color:#000;
font-weight:bold;
transition:.3s;
}

.btn:hover{
transform:scale(1.08);
box-shadow:0 0 25px #19d37e;
}

.gold{
background:gold;
}

section{
padding:100px 10%;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
margin-top:40px;
}

.card{
background:#101010;
border:1px solid #1aff99;
padding:30px;
border-radius:20px;
text-align:center;
}

.timeline{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
margin-top:40px;
}

.timeline div{
background:#101010;
padding:25px;
border-radius:18px;
border:1px solid #1aff99;
text-align:center;
}

footer{
padding:40px;
text-align:center;
border-top:1px solid #222;
color:#888;
}
.contract-box{
margin-top:40px;
padding:25px;
background:rgba(0,0,0,.45);
border:2px solid #19d37e;
border-radius:20px;
backdrop-filter:blur(8px);
max-width:700px;
margin-left:auto;
margin-right:auto;
box-shadow:0 0 20px rgba(25,211,126,.3);
}

.contract-box h3{
margin-bottom:15px;
font-size:30px;
font-family:Cinzel,serif;
color:#19d37e;
text-align:center;
}

.contract-row{
display:flex;
justify-content:center;
align-items:center;
gap:15px;
flex-wrap:wrap;
}

.contract-row input{
flex:1;
min-width:260px;
padding:16px;
border-radius:12px;
border:2px solid #19d37e;
background:#111;
color:#fff;
font-size:16px;
text-align:center;
}

.copy-btn{
padding:16px 28px;
}
